<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/index.css">
    <title>Anonymity at Ease - sashbros</title>
</head>
<body>
    <!-- right navbar -->
    <div id="mySidenav" class="sidenav">
        <div class="mt-5 pt-5">
            <div class="text-center">USERS</div>
            <div class="text-center"><%= userCount %></div><br><br>
            <div class="text-center">POSTS</div>
            <div class="text-center"><%= postCount %></div><br><br>
            <div class="text-center text-white" style="cursor:pointer" class="closebtn" onclick="closeNav()">&#8829;</div>
        </div>
    </div>
    <!-- end of right navbar -->
    <div class="bg-primary fixed-top pt-3">
        <form action="/logout" method="POST">
            <div class="form-group text-right text-white mr-4">
                <span class="mr-2" style="font-size: 20px;cursor:pointer" onclick="openNav()">&#8828;</span>
                <label class="mr-2">Hello, <%= name %></label>
                <input class="btn btn-outline-warning btn-sm" type="submit" value="Logout">
            </div>
        </form>
    </div>
    <div class="mt-5 pt-5 container text-center">
        <h1>Here's to some controlled Anonymity</h1><br>
        <h3>Can upvote and downvote any post</h3><br>
    </div><br>
    <div class="container">
        <form action="/" method="POST">
            <div class="form-group">
                <textarea class="form-control" minlength="7" name="post" id="" cols="25" rows="5" placeholder="Enter your thoughts.." required></textarea>
            </div>
            <div class="form-group text-center">
                <input class="btn btn-outline-danger" type="submit" value="POST">
            </div>
        </form>
    </div>
    <div class="allPosts">
        <% for (var i = 0; i < data.length; i++) { %>
        
        <div class="post container bg-dark text-white pt-2 pb-2 mt-5 mb-5">

            <% var hide=0 %>
            <% for (var j = 0; j < upvoteData.length; j++) { %>
                <% if (upvoteData[j].username === name && upvoteData[j].pid === data[i].pid) { %>
                    <% hide=1 %>
                <% } %>
            <% } %>

            
            <% if (hide==1) { %>
                <div class="voting">
                    <div class="text-center pt-1 pb-1">
                        <form action="/upvote" method="POST">
                            <input class="" type="hidden" name="upvoteText", value= <%= data[i].pid %> >
                            <button class="btn btn-success invisible">&#8710;</button>
                        </form>
                    </div>
                    <div class="text-center pt-1 pb-1"><%= data[i].upvotes - data[i].downvotes %></div>
                    <div class="text-center pt-1 pb-1">
                        <form action="/downvote" method="POST">
                            <input class="" type="hidden" name="downvoteText", value= <%= data[i].pid %> >
                            <button class="btn btn-success invisible">&#8711;</button>
                        </form>
                    </div>
                </div>
            <% } else { %>
                <div class="voting">
                    <div class="text-center pt-1 pb-1">
                        <form action="/upvote" method="POST">
                            <input class="" type="hidden" name="upvoteText", value= <%= data[i].pid %> >
                            <button class="btn btn-success">&#8710;</button>
                        </form>
                    </div>
                    <div class="text-center pt-1 pb-1"><%= data[i].upvotes - data[i].downvotes %></div>
                    <div class="text-center pt-1 pb-1">
                        <form action="/downvote" method="POST">
                            <input class="" type="hidden" name="downvoteText", value= <%= data[i].pid %> >
                            <button class="btn btn-success">&#8711;</button>
                        </form>
                    </div>
                </div>
            <% } %>
            


            <div class="matter">
                <div class="who ml-3">au/<%= data[i].username %> posted</div>
                <div class="what ml-3"><%= data[i].p_des %></div>
            </div>
        </div>

        <% } %>
    </div>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script>
        $(window).scroll(function() {
            sessionStorage.scrollTop = $(this).scrollTop();
        });

        $(document).ready(function() {
            if (sessionStorage.scrollTop != "undefined") {
                $(window).scrollTop(sessionStorage.scrollTop);
            }
        });

        function openNav() {
            document.getElementById("mySidenav").style.width = "100vw";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</body>
</html>